/JavaSide/nbproject/private/
/JavaSide/build/
JavaBackend/.idea/
/JavaSide/dist/
/AlgorithmLab4/nbproject/private/
/AlgorithmLab4/build/
/AlgorithmLab4/dist/
/ASPWebsite/ASPWebsite/obj/
/ASPWebsite/ASPWebsite/bin/
ASPWebsite/.vs/ASPWebsite/v14/.suo
